mixin navigation(page)
  nav#navigation
    h2.title Portfolio
    if (page=='climbing')
      a.active(href='climbing.html') Climbing
    else
      a(href="climbing.html") Climbing
    if (page=='portrait')
      a.active(href='portrait.html') Portrait
    else
      a(href="portrait.html") Portrait
    h2.title Stories
    if (page=='finale')
      a.active(href='finale.html') Finale
    else
      a(href='finale.html') Finale
    if (page=='germany')
      a.active(href='germany_tour.html') Germany tour
    else
      a(href='germany_tour.html') Germany tour
    if (page=='briancon')
      a.active(href='briancon.html') Briancon
    else
      a(href='briancon.html') Briancon
    if (page=='berdorf')
      a.active(href='berdorf.html') Berdorf
    else
      a(href='berdorf.html') Berdorf
    if (page=='barelyautumn')
      a.active(href='barelyautumn.html') Barely Autumn
    else
      a(href='barelyautumn.html') Barely Autumn
    if (page=='font')
      a.active(href='fontainebleau.html') Fontainebleau
    else
      a(href='fontainebleau.html') Fontainebleau
    h2
      if (page=='about')
        a.active(href='about.html') About
      else
        a(href='about.html') About
    h2
      if (page=='contact')
        a.active(href='contact.html') Contact
      else
        a(href='contact.html') Contact

mixin galleryItem(image, description, width, height)
  a(href=image, data-fancybox='gallery', data-caption=description)
    img(src=image, alt=description, width=width, height=height)

mixin galleryItemWithThumb(image, thumb, description, width, height)
  a(href=image, data-fancybox='gallery', data-caption=description)
    img(src=thumb, alt=description, width=width, height=height)
