mixin navigation(page)
  nav
    if (page=='home')
      a.active(href='index.html') home
    else
      a(href='index.html') home
    if (page=='portfolio')
      a.active(href='climbing.html') portfolio
    else
      a(href='climbing.html') portfolio
    if (page=='about')
      a.active(href='about.html') about
    else
      a(href='about.html') about
    if (page=='contact')
      a.active(href='contact.html') contact
    else
      a(href='contact.html') contact
    //-
      a#instagram(href='https://www.instagram.com/fabianpoels/' target='_blank')
        img(src='assets/png/instagram-logo.png' alt='instagram' width='35' height='35')

mixin portfolioNavigation(page)
  nav
    if (page=='climbing')
      a.active(href='climbing.html') climbing
    else
      a(href='climbing.html') climbing
    //if (page=='portrait')
      a.active(href='portrait.html') portrait
      else
        a(href='portrait.html') portrait
      if (page=='outdoor')
        a.active(href='outdoor.html') outdoor
      else
        a(href='outdoor.html') outdoor

mixin galleryItem(image, description, width, height)
  a(href=image, data-fancybox='gallery', data-caption=description)
    img(src=image, alt=description, width=width, height=height)

mixin footer(page)
  footer
    if (page=='disclaimer')
      |All photos &#169;2017 Fabian Poels ~ hosting by <a href="http://bonos.be">bonos.be</a> ~ logo by <a href="http://annelienvandenbosch.be">annelienvandenbosch.be</a>
    else
      <a href="disclaimer.html">All photos &#169;2017 Fabian Poels</a> ~ hosting by <a href="http://bonos.be">bonos.be</a> ~ logo by <a href="http://annelienvandenbosch.be">annelienvandenbosch.be</a>

mixin route(name, info, comment)
  li.route
    span.route-name!= name
    span.route-info!= info
    span.route-comment!= comment
